{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='icon.svg') }}" width="60", height="45">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
            <a class="nav-link active" href="#">About</a>
            <a class="nav-link" href="{{ url_for('algorithms') }}">Algorithms</a>
            <a class="nav-link" href="https://github.com/DuncanCarlmark/DSC180b-Capstone" >Repo</a>
            </div>
        </div>
    </div>
</nav>

<br>

<div class="container">
    <div class="row justify-content-center">
        <h1 class="w-75" style="text-align: center;">Project Inspirations</h1>

        <p class="w-75">
            This Bridging the Gap was developed for the Recommendation System section of UCSD's Data Science capstone course. 
        </p>

        <p class="w-75">
            <b>Why music?</b>
        </p>

        <p class="w-75">
            The reason why our team chose this project in particular is that we are all avid music listeners and while
            brainstorming ideas we had a realization. Even though we all come from different family backgrounds and have
            different music preferences, at one point or another we all the same uncomfortable conversation with our
            parents about the music we were listening to.
        </p>

        <p class="w-75">
            <b>What does that have to do with this project?</b>
        </p>
        
        <p class="w-75">
            On its own, this little realization is relatively meaningless. However, when you consider the total amount of young
            adults that might experience these situations, the value of a tool that mitigates them becomes much more apparent.
            After 10 weeks and lots of trial and tribulation that tool finally exists.
        </p>
    </div>

    <hr>

    <div class="row justify-content-center">
        <h1 class="w-75" style="text-align: center;">Project Goals</h1>

        <p class="w-75">
            For this project our team had three primary goals in mind...
        </p>

        <p class="w-75">
            <b>Make it easy:</b>
        </p>

        <p class="w-75">
            We wanted to eliminate any of the stress or uncertainty that playing music around parents would normally cause.
        </p>

        <p class="w-75">
            <b>Make it automatic:</b>
        </p>

        <p class="w-75">
            Anyone can go out and spend 7 hours scrolling through Spotify to make a playlist that they could listen to with 
            their parents. The purpose of our tool is to <b>quickly</b> and <b>easily</b> generate recommended songs for our users.
            This way users can spend their entire day listening to the playlist instead of making it.
        </p>

        <p class="w-75">
            <b>Make it enjoyable:</b>
        </p>

        <p class="w-75">
            Making a playlist and making a playlist that people like to listen to are two very different things. We wanted
            to create recommendations that catered to both users and their parents. Otherwise nobody has a good time listening to the
            playlist and we jump all the way back to square one.
          
        </p>   
        
    </div>

    <br>
    <br>

   
</div>
{% endblock %}