{% extends 'base.html' %}

{% block content %}

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">
            <img src="{{ url_for('static', filename='icon.svg') }}" width="60", height="45">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
            <a class="nav-link" aria-current="page" href="{{ url_for('index') }}">Home</a>
            <a class="nav-link" href="{{ url_for('about') }}">About</a>
            <a class="nav-link active" href="#">Algorithms</a>
            <a class="nav-link" href="https://github.com/DuncanCarlmark/DSC180b-Capstone" >Repo</a>
            </div>
        </div>
    </div>
</nav>


<div class="container">
    <div class="row justify-content-center">
        <h1 class="w-75" style="text-align: center;">Task 0:</h1>

        <p class="w-75">
             Text here
        </p>

        <h1 class="w-75" style="text-align: center;">Task 1:</h1>

        <p class="w-75">
           Text here
        </p>

        <h1 class="w-75" style="text-align: center;">Task 2:</h1>

        <p class="w-75">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;We implement Implicit using alternating least squares to build similarity between the user’s playlist information 
            and older users (users in the parent’s age range) in the LastFM dataset. For our implicit feedback model, we use plays (number of interactions) as our “rating.” Once we fit the model, we 
            can now build recommendations for the particular user, in this case the user who has requested a playlist for their parent, and a list 
            of recommended artists is returned. In our initial responses collected by the user, we collected the parent’s favored genres so we use 
            that data to filter down the recommended artists. We use Spotipy, which is a Python library for the Spotify Web API, to collect the 
            genre for each artist and we then filter the list of recommended artists down to artists that are represented by the favored genre of 
            the parent. We can then use Spotify’s top tracks to build a playlist from these filtered recommended artists to get a final list of 
            songs that is outputted to a playlist on the user’s Spotify account. 

        </p>

    </div>
   
</div>
{% endblock %}