{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('static', filename='icon.svg') }}" width="60", height="45">
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="#">Home</a>
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
                <a class="nav-link" href="{{ url_for('algorithms') }}">Algorithms</a>
                <a class="nav-link" href="https://github.com/DuncanCarlmark/DSC180b-Capstone" >Repo</a>
                </div>
            </div>
        </div>
    </nav>

    <br>
    <br>

    <div class="container">
        <div class="row justify-content-center">
            <h1 class='w-75' style="text-align:center"> Bridging the Gap: Solving Music Disputes with Recommendation Systems</h1>
            <div class="w-75">
                <br>
                <p> It is not uncommon for teenagers and young adults to have disagreements with their parents. I’m sure
                    many of you have found yourselves in an uncomfortable conversation in which a parent is questioning why the
                    song playing over a bedroom speaker is so loud, repetitive, or profane. If this isn't the case,
                    at the very least you might've made a conscious decision to refrain from playing a certain genre or artist
                    when your parents are around. Knowing what music to play in these situations does not have to be a
                    complicated or stressful process. In fact, this can be made quite simple with the help of a recommendation system.
                </p>
            </div>
        </div>
        <hr>
        <div class="row justify-content-center">
            <h2 class="w-75" style="text-align: center"> Our Recommenders </h2>
            <p class="w-75">
                Our solution can be broken down into two different recommendation approaches: <b>user to parent</b>,
                and <b>parent to user</b> recommendations. To make these recommendations, our algorithms use a combination
                of user/parent characteristics and their listening history to generate separate sets of recommendations for each approach.
            </p>
            <p class="w-75" style="text-align:center">
                To make a playlist for you or your parents, click one of the options below!
            </p>
        </div>
        
        <br>
        <div class="row justify-content-center">
            <p class="w-75" style="text-align:center">
                <b>NOTE:</b> <i> To use this service, you <b>MUST</b> have a Spotify account.
                Sample playlist & Parent-User playlists are made on the <b>PARENT</b>'s account,
                while User-Parent playlists are made on the <b>USER</b>'s account. </i>
            </p>
        </div>

        <hr>        

        <br>

        <div class="row justify-content-center">

            <div class="col text-center">
                <h2>Sample Playlist</h2>
                <p>
                    Make a new playlist on your parent's account <a href="{{auth_url_1_1}}">here</a>.
                    <b><i>Necessary step if your parent never used Spotify!</i></b>
                </p>
            </div>

            <div class="col text-center">
                <h2>Parent to User</h2>
                <p>
                    Log in to your parent's Spotify account <a href="{{auth_url_1_2}}">here</a>.
                </p>        
            </div>
               
            <div class="col text-center">
                <h2>User to Parent</h2>
                <p>
                    Log in to your Spotify account <a href="{{auth_url_2_0}}">here</a>.
                </p>
            </div>

        </div>

    </div>

    <br>
    <br>


{% endblock %}