{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
</nav>

<br>
<br>

<div class="container">

  <div class="row justify-content-center">

    <h1 class="w-75" style="text-align:center">User/Child Information</h1>
    <p class="w-75" style="text-align:center">In order for us to make accurate recommendations, we need to know a little information first!</p>
    <p class="w-75" style="text-align:center">Please fill out the forms below with one entry only for each form.</p>
    <p class="w-75" style="text-align:center">This basic information will allow our algorithm to make personalized recommendations for your playlist.</p>

    <div class="w-75">
      <form action="/form_success_1_2" method="POST">

        <div class="row mb-3">
          <label for="input_age" class="form-label">User Age</label>
          <input type="text" class="form-control" id="input_age" 
          placeholder="Ex: 53" name="age">
        </div>

        <div class="row mb-3">
          <div class="col">
            <label for="genre_1" class="form-label">Genre 1</label>
            <input class="form-control" list="datalistOptions" id="genre_1" placeholder="Search genres here..." name="genre_1">
            <datalist id="datalistOptions">

              {% for genre in genres_list %}

                <option value="{{genre}}"></option>

              {% endfor %}
            
            </datalist>
          </div>

          <div class="col">
            <label for="genre_2" class="form-label">Genre 2</label>
            <input class="form-control" list="datalistOptions" id="genre_2" placeholder="Search genres here..." name="genre_2">
          </div>

          <div class="col">
            <label for="genre_3" class="form-label">Genre 3</label>
            <input class="form-control" list="datalistOptions" id="genre_3" placeholder="Search genres here..." name="genre_3">
          </div>  
        </div>

        <div class="row mb-3">
          <label for="input_artist" class="form-label">An artist you like</label>
          <input type="text" class="form-control" id="input_artist" 
          placeholder="Ex: The Eagles" name="artist" >
        </div> 

        <button type="submit" class="btn btn-primary">Submit</button>

      </form>
    </div>
  </div>
</div>

{% endblock %}