{% extends 'base.html' %}

{% block content %}
<br>
<br>
<br>
<div class="container">
    <div class="row justify-content-center">

        <h1 class="w-75" style="text-align:center">Thank You!</h1>
        <p class="w-75" style="text-align:center"> Click <a href="/gen_playlist_1_1">here</a> to generate your playlist.</p>
        <small class="w-75" style="text-align:center">It may take a while! Don't leave this page until we're done working!</small>

    </div>
</div>



    
    
{% endblock %}
