{% extends 'base.html' %}

{% block content %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  
</nav>

<br>
<br>

<div class="container">

  <div class="row justify-content-center">

    <h1 class="w-75" style="text-align:center">Parent Information</h1>
    <p class="w-75" style="text-align:center">In order for us to make accurate recommendations, we need to know a little information first!</p>
    <p class="w-75" style="text-align:center"> Please fill out the forms below with one entry only for each form.</p>
    <p class="w-75" style="text-align:center">This basic information will allow our algorithm to make somewhat personalize recommendations for your playlist.</p>

    <div class="w-75">
      <form action="/form_success_1_1" method="POST">
        <div class="mb-3">
          <input type="text" class="form-control" id="input_age" value="55"
          placeholder="Parent Age Ex: 53" name="age">
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="input_genre" value="rock"
          placeholder="Enjoyed Genre Ex: Rock" name="genre" >
        </div>
        <div class="mb-3">
          <input type="text" class="form-control" id="input_artist" value="temp"
          placeholder="Enjoyed Artist Ex: The Eagles" name="artist" >
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

{% endblock %}