{% extends 'base.html' %}

{% block content %}
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{{ url_for('index') }}">Home</a>
                <a class="nav-link" href="{{ url_for('about') }}">About</a>
                <a class="nav-link" href="{{ url_for('algorithms') }}">Algorithms</a>
                <a class="nav-link" href="https://github.com/DuncanCarlmark/DSC180b-Capstone" >Repo</a>
                </div>
            </div>
        </div>
    </nav>

    <br>
    <br>

    <div class="container">
        <div class="row justify-content-center">
            <h1 class='w-75' style="text-align:center"> Bridging the Gap: Solving Music Disputes with Recommendation Systems</h1>
            <div class="w-75"> 
                
                <p> &emsp; It is not uncommon for teenagers and young adults to have disagreements with their parents. Usually these points of contention 
                    involve things like chores, curfews, and other byproducts of living under the same roof. However, these discussions may occasionally 
                    spill over into other areas of life, namely choice of music. I’m sure many have found themselves in an uncomfortable conversation in 
                    which a parent is questioning why the song playing over a bedroom speaker is so loud, repetitive, or profane. If someone has never had 
                    such a conversation, at the very least I’m sure they have made a conscious decision to refrain from playing a certain genre or artist 
                    when their parents are around. Knowing what music to play in these situations does not have to be a complicated or stress inducing 
                    process. In fact, this process can be made quite simple with the help of a recommendation system.
                </p>
            </div>
        </div>

        <div class="row justify-content-center">
            <h1 class="w-75" style="text-align: center"> Our Recommenders </h1>
            <p class="w-75">
                &emsp; This situation can be broken down into two different recommendation approaches: <b> user to parent </b> recommendations
                and <b> parent to user </b> recommendations. Our recommendation algorithms use a combination of user/parent characteristics and
                listening histories to accomplish each of these recommendation tasks.
            </p>
        </div>

        <div class="row justify-content-center">
            <div class="col">

            </div>

            <div class="col">

            </div>

        </div>

    </div>


{% endblock %}