{% extends 'base.html' %}

{% block content %}

    <link rel="stylesheet" type="text/css" href="static/css/main.css"/>
    <h1>All Capstone No Cap</h1>
    <p> Hello, and welcome to the DSC180B capstone project created by Sarat Sreepathy,
        Nayoung Park, and Duncan Carlmark.
    </p>

    <br>

    <h2> Purpose </h2>
    <p>
        This project is a Spotify recommender that creates playlists both parents and their children can listen to.
    </p>
    <button> <a href = "{{ auth_url }}"> Click here to get started </a></button>
{% endblock %}